<!DOCTYPE html>
<html>
    <head>
        <title>LoginRails</title>
        <%= csrf_meta_tags %>

<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <%#*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">%>
        <%#*</script>%>
    </head>

    <body>
        <header>
            <nav>
                <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
                <% if user_signed_in? %> 
                  <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
                  <!-- *_path はUserモデルを作成したときに、
                  deviseにより自動で作成されてますので、rake routesで確認できます -->
                  Logged in as <strong><%= current_user.email %></strong>.
                  |
                  <%= link_to "ログアウト", users_sign_out_path %>
                <% else %>
                 
                  <%= link_to "ログイン", new_user_session_path %>
                <% end %>
            </nav>
        </header>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
            <%#*<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>%>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

            <%#*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>%>


    </body>
</html>
