<!DOCTYPE html>
<html>
    <head>
        <title>LoginRails</title>
        <%= csrf_meta_tags %>
<%#*CSSを読み込むタグを生成します%>
        <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track' => true %>
<%#*JSを読み込むタグを生成します%>
        <%= javascript_include_tag 'application' ,'data-turbolinks-track' => true %>
    </head>

    <body>
        <header>
            <nav>
                <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
                <% if user_signed_in? %> 
                  <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->

                  <strong><%= current_user.email %></strong>さん､こんにちは｡
                  |
                  <%= link_to "ログアウト", users_sign_out_path %>
                <% else %>

                  <%= link_to "ログイン", new_user_session_path %>
                <% end %>
            </nav>
        </header>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>


    </body>
</html>
